.wrapper{
    font-size: 16px;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    border: 1px solid transparent ;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    + .wrapper{
        margin-left: 8px;
    }
    &.disable{
        pointer-events: none;
        opacity: 0.5;
    }
}
.icon + .tittle , .tittle + .icon{
    margin-left: 8px;
}
.rounded{
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.12);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    background-color: rgba(255, 255, 255, 1.0);
    color: rgba(22, 24, 35, 0.75);
    &:hover{
     border-color: rgba(22, 24, 35, 0.2);
     background-color: rgba(22, 24, 35, 0.03);
    }
 }
.primary{
    border-color: var(--primary);
   background-color: var(--primary);
   color: aliceblue;
   &:hover{
        background: linear-gradient(0deg, rgba(0,0,0,0.06),rgba(0,0,0,0.06)),#fe2c55;
   }
}
.outline{
    border-color: var(--primary);
    color: var(--primary);
    &:hover{
        border-color: var(--primary);
        background-color:rgba(254,44,85,0.06);
    }
}

.small{
    min-width: 88px;
    padding: 4px 16px;
}
.large{
    min-width: 140px;
    padding: 14px 16px
}
.text{
    background-color: white;
    &:hover{
        text-decoration:underline;
    }
}
.icon{
    display: inline-block;
    width:20px
}



