@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --default-layout-header-height : 60px;
    --default-layout-width : 1150px;
    --black : #000;
}
html {
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button,input{
    outline: none;
    border : none;
}
a[href]{
    color : var(--text-color);
    text-decoration: none;
}
// Fonts 
@font-face {
    font-family: SofiaPro;
    src: url('/assets/Font/sofiapro-bold.woff');
    font-weight: 700px;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/Font/sofiapro-bold.woff2');
    font-weight: 800px;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/Font/Proxima-Nova-Regular.woff2');
    font-weight: 400px;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/Font/ProximaNova-Semibold.woff2');
    font-weight: 600px;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/Font/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI5sdO_q.woff2');
    font-weight: 700px;
}